<div class="container">
    <div class="chart-block opt-block">
        <div class="chart-block__inner opt-block__inner">
            <canvas class="chart-block__chart-wrap opt-block__img-wrap" id="chart-wrap" data-check-visibility></canvas>
        </div>
        <div id="animationProgress"></div>
        <div class="chart-block__inner opt-block__inner">
            <h3 class="section-title chart-block__title opt-block__title">
                Прогнозируем эффективность
                на этапе проектирования
            </h3>
            <p class="chart-block__text opt-block__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.
            </p>
        </div>
    </div>
</div>