<div class="complex-grid">
    @@include('../components/sub-components/complex-card.html', {
        "title": "Контентная поддержка сайта",
        "text": "Регулярное обновление информации, контакт с посетителями ресурса"
    })
    @@include('../components/sub-components/complex-card.html', {
        "title": "Контроль размещения у сайтов-партнеров",
        "text": "Проверка наличия информации (баннеры, статьи) на сайтах ваших партнеров"
    })
    @@include('../components/sub-components/complex-card.html', {
        "title": "Внедрение и доработка программных сервисов ",
        "text": "В результате совокупного анализа разрабатываются новые программные модули и дорабатываются существующие в случае изменения запросов вашей аудитории "
    })
    @@include('../components/sub-components/complex-card.html', {
        "title": "Мониторинг конкурентов",
        "text": "Наблюдение за работой основных оппонентов на просторах интернета"
    })
    @@include('../components/sub-components/complex-card.html', {
        "title": "Экстренный редизайн",
        "text": "Создание новых разделов или веб-страниц, косметический дизайн к определенным датам"
    })
    @@include('../components/sub-components/complex-card.html', {
        "title": "Праздничное оформление",
        "text": "Обновление дизайна и содержимого сайта во время праздников и знаменательных событий, которое сделает контакт с аудиторией более радужным"
    })
    @@include('../components/sub-components/complex-card.html', {
        "title": "Поисковый мониторинг сайта",
        "text": "Анализ посещаемости сайта, мониторинг положения в поисковых системах"
    })
</div>