<div class="container-fluid  @@bg-style" style="background: @@style-bg">
    <div class="container">
        <div class="header-menu">
            <a href="/dev" class="header-menu-item @@color-style">РАЗРАБОТКА</a>
            <a href="/optimization" class="header-menu-item  @@color-style">ПРОДВИЖЕНИЕ</a>
            <a href="/support" class="header-menu-item @@color-style">ПОДДЕРЖКА</a>
            <a href="/maintenance" class="header-menu-item @@color-style">СОПРОВОЖДЕНИЕ</a>
            <a href="/context" class="header-menu-item @@color-style">КОНТЕКСТ</a>
            <a href="/contacts" class="header-menu-item @@color-style">КОНТАКТЫ</a>
        </div>
    </div>
</div>
</header>
<main>