<div class="container">
    <div class="img-info">
        <div class="img-info__inner">
            <div class="img-info__img-wrapper">
                <img src="@@src" alt="block-img" class="img-info__main-img">
            </div>
            <div class="img-info__text-wrapper">
                <h2 class="img-info__title section-title">
                    @@title-text
                </h2>
                <p class="img-info__text">
                    @@main-text1
                </p>
                <p class="img-info__text">
                    @@main-text2
                </p>
            </div>
        </div>
    </div>
</div>