<div class="container">
    <div class="linear-grid">
        @@include('../components/sub-components/linear-card.html', {
            "icon": "/images/gc1.svg",
            "title": "Глубокая работа с контентом",
            "text": "Создание удобного и привлекательного текста вместе с соответствованием используемым ключам"
        })
        @@include('../components/sub-components/linear-card.html', {
            "icon": "/images/gc2.svg",
            "title": "Эффективная работа сайта",
            "text": "Оптимизация нагрузки сайта, адаптация под мобильные устройства, повышение скорости открытия страниц"
        })
        @@include('../components/sub-components/linear-card.html', {
            "icon": "/images/gc3.svg",
            "title": "Подбор ключевых слов",
            "text": "Профессиональное определение наиболее точных и эффективных ключевых слов"
        })
        @@include('../components/sub-components/linear-card.html', {
            "icon": "/images/gc4.svg",
            "title": "Качественные ссылки",
            "text": "Удобные внутренние ссылки и надежные внешние"
        })
        @@include('../components/sub-components/linear-card.html', {
            "icon": "/images/gc5.svg",
            "title": "Юзабилити",
            "text": "Аналитическая работа с поведенческими данными влияющая на повышение позиции в поиске"
        })
        @@include('../components/sub-components/linear-card.html', {
            "icon": "/images/gc6.svg",
            "title": "Крауд-маркетинг",
            "text": "Размещение рекомендаций со ссылками на форумах, в социальных сетях и комментариями к тематическим статьям в масс-медиа"
        })

    </div>
</div>