<div class="container">
    <form class="main-form" action="#">
        <div class="main-form__side-wrap">
            <div class="main-form__inputs-wrap">
                <input type="text" class="main-form__field main-form__input" name="name" placeholder="Имя">
                <input type="tel" class="main-form__field main-form__input" name="phone" placeholder="Телефон" data-phone>
                <input type="email" class="main-form__field main-form__input" name="email" placeholder="Почта">
            </div>
            <textarea name="message" id="#" cols="30" rows="5" class="main-form__field main-form__textarea"
                placeholder="Кратко опишите ваш проект"></textarea>
            <small class="main-form__privacy">
                Отправляя заявку, вы соглашаетесь с <a href="#">Политикой конфиденциональности</a>
            </small>
        </div>
        <div class="main-form__side-wrap">
            <button type="submit" class="main-form__btn-submit">
                Отправить
            </button>
        </div>
    </form>
</div>