<div class="m-menu" data-m-menu>
    <nav class="m-menu__nav" data-m-menu-nav>
        <ul class="m-menu__list" data-m-menu-list>
            <li class="m-menu__item">
                <a href="#0"><img src="/images/logo.svg" alt="logo"></a>
            </li>
            <li class="m-menu__item">
                <a href="#0" class="m-menu__link">Разработка</a>
            </li>
            <li class="m-menu__item">
                <a href="#0" class="m-menu__link">Продвижение</a>
            </li>
            <li class="m-menu__item">
                <a href="#0" class="m-menu__link">Цены</a>
            </li>
            <li class="m-menu__item">
                <a href="#0" class="m-menu__link">Вакансии</a>
            </li>
            <li class="m-menu__item">
                <a href="#0" class="m-menu__link">Контакты</a>
            </li>
            <li class="m-menu__item">
                <a href="tel:+73452699968" class="m-menu__link">+7 (3452) 69-99-68</a>
            </li>
        </ul>
    </nav>
    <button class="m-menu__hamburger" data-toggle-m-menu-ham>
        <span class="m-menu__hamburger-line"></span>
        <span class="m-menu__hamburger-line"></span>
        <span class="m-menu__hamburger-line"></span>
    </button>
</div>