<div class="quiz-wrapper" data-quiz-wrapper>
        <span class="quiz-shadow"></span>
    <div class="quiz">
        <div class="quiz-container">
            <div class="quiz-content">
                <h1 class="quiz-content__title-know">
                    Узнайте стоимость системы видеонаблюдения под ваши задачи
                </h1>
                <button class="quiz-content__btn-close">
                    <span></span>
                    <span></span>
                </button>
                <div class="quiz-content__card">
                    <div class="quiz-content__card-side quiz-content__card-side--left">
                        <h1 class="quiz-content__title-question">
                            Какой тип постройки вам нужен?
                        </h1>
                        <ul class="quiz-content__variants-list quiz-content__variants-list--regular-list">
                            <li class="quiz-content__variants-item quiz-content__variants-item--regular-card">
                                <div class="quiz-content__variant-img">
                                    <img src="/images/quiz-v1.png" alt="">
                                </div>
                                <h3 class="quiz-content__variant-title">Капитальный дом</h3>
                            </li>
                            <li class="quiz-content__variants-item quiz-content__variants-item--regular-card quiz-content__variants-item--regular-card_active">
                                <div class="quiz-content__variant-img">
                                    <img src="/images/quiz-v2.png" alt="">
                                </div>
                                <h3 class="quiz-content__variant-title">Летний домик</h3>
                            </li>
                            <li class="quiz-content__variants-item quiz-content__variants-item--regular-card">
                                <div class="quiz-content__variant-img">
                                    <img src="/images/quiz-v3.png" alt="">
                                </div>
                                <h3 class="quiz-content__variant-title">Дача</h3>
                            </li>
                            <li class="quiz-content__variants-item quiz-content__variants-item--regular-card">
                                <div class="quiz-content__variant-img">
                                    <img src="/images/quiz-v4.png" alt="">
                                </div>
                                <h3 class="quiz-content__variant-title">Баня</h3>
                            </li>
                        </ul>
                        <div class="quiz-content__progress">
                            <div class="quiz-content__progress-bar">
                                <span class="quiz-content__progress-bar--line"></span>
                            </div>
                            <p class="quiz-content__progress-info">1-й вопрос из 6</p>
                        </div>
                        <button class="quiz-btn quiz-content__btn-next" data-quiz-next>
                            Далее
                        </button>
                    </div>
                    <div class="quiz-content__card-side quiz-content__card-side--right">
                        <div class="quiz-content__person">
                            <div class="quiz-content__person-img">
                                <img src="/images/quiz-person.png" alt="person">
                            </div>
                            <div class="quiz-content__person-desc">
                                <h3>
                                    Андрей Симонов
                                </h3>
                                <small>
                                    Руководитель “ТобольскСтройСерсис”
                                </small>
                            </div>
                        </div>
                        <svg class="quiz-content__polyline-wrap">
                            <path d="M-2.40416e-06 29.5004L100 29.5004L100 2L130 29.5004L330 29.5004" fill="none" stroke="black"/>                      
                        </svg>
                        <div class="quiz-content__about">
                            <p class="quiz-content__about-text">
                                От типа сооружения в первую очередь зависит его конечная стоимость
                            </p>
                        </div>
                        <div class="quiz-content__comp-logo">
                            <img src="/images/quiz-logo.svg" alt="company logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>