<div class="quiz-wrapper" data-quiz-wrapper>
    <span class="quiz-shadow"></span>
    <div class="quiz">
        <div class="quiz-container">
            <div class="quiz-content">
                <h1 class="quiz-content__title-know quiz-content__title-know--fin">
                    Готово! Куда вам выслать результаты?
                </h1>
                <button class="quiz-content__btn-close">
                    <span></span>
                    <span></span>
                </button>
                <div class="quiz-content__card quiz-content__card--fin">
                    <div
                        class="quiz-content__card-side quiz-content__card-side--left quiz-content__card-side--left-fin">
                        <div class="quiz-content__gratitude">
                            <p class="quiz-content__gratitude-text">
                                Благодарим вас за ответы на вопросы!
                                Вы сэкономили нашему инженеру-сметчику примерно 4 часа рабочего
                                времени.
                            </p>
                            <p class="quiz-content__gratitude-text">
                                При звонке в нашу компанию назовите оператору промо-код
                                "СПАСИБО" и получите скидку 15% на фундамент для дома.
                            </p>
                        </div>
                        <img class="quiz-content__fin-bg" src="/images/quiz-fin-bg.png" alt="">
                    </div>
                    <div
                        class="quiz-content__card-side quiz-content__card-side--right quiz-content__card-side--right-fin">
                        <div class="quiz-content__contacts">
                            <div class="quiz-content__contacts-add">
                                <h4>
                                    Бесплатное дополнение
                                </h4>
                                <p>
                                    Каталог всех проектов<br>
                                    домов в стиле “классический”
                                </p>
                                <img src="/images/quiz-sketch1.png" alt="sketch">
                            </div>
                            <h2 class="quiz-content__contacts-title">
                                Оставьте свои контакты
                            </h2>
                            <p class="quiz-content__contacts-subtitle">
                                Подготовим смету в течение 24 часов
                            </p>
                            <form action="" class="quiz-content__contacts-form">
                                <input class="quiz-input" type="tel" placeholder="Телефон*">
                                <input class="quiz-input" type="email" placeholder="Email*">
                                <button class="quiz-btn" type="submit">Получить смету и каталог</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>