<form class="second-form" action="#">
    <div class="second-form__side-wrap">
        <div class="second-form__inputs-wrap">
            <input type="text" class="second-form__field second-form__input" name="name" placeholder="Имя">
            <input type="tel" class="second-form__field second-form__input" name="phone" placeholder="Телефон" data-phone>
            <input type="email" class="second-form__field second-form__input" name="email" placeholder="Почта">
        </div>
        <textarea name="message" id="#" cols="30" rows="5" class="second-form__field second-form__textarea"
            placeholder="Кратко опишите ваш проект"></textarea>
        <small class="second-form__privacy">
            Отправляя заявку, вы соглашаетесь с <a href="#">Политикой конфиденциональности</a>
        </small>
    </div>
    <div class="second-form__side-wrap">
        <button type="submit" class="second-form__btn-submit">
            Отправить
        </button>
    </div>
</form>