<div class="container-fluid">
    <div class="slider-portfolio">
        <div class="slider-portfolio__carousel" data-sp-carousel>
            <img src="/images/portfolio-bg2.png"
                 alt="bg-img"
                 data-title="Интернет магазин Буран"
                 data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                 data-link="#"
                 class="slider-portfolio__carousel--img">

            <img src="/images/test-bg1.jpg"
                 alt="bg-img"
                 data-title="Санаторий Светлый"
                 data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum indeed"
                 data-link="#12"
                 class="slider-portfolio__carousel--img">
        </div>
        <!-- новый спан -->
        <span class="slider-portfolio__carousel--shadow-dark"></span>
        <!-- ... -->
        <span class="slider-portfolio__carousel--shadow"></span>

        <div class="container slider-portfolio__container">
            <div class="slider-portfolio__content">
                <h3 class="slider-portfolio__main-title">
                    Последние
                    выполненные работы
                </h3>
                <h4 class="slider-portfolio__slide-title underline" data-sp-title>
                    Буран
                </h4>
                <p class="slider-portfolio__text" data-sp-text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <a href="#" class="btn slider-portfolio__link" data-sp-link>
                    Смотреть кейс
                </a>

                <div class="slider-portfolio__arrows">
                    <div class="slider-portfolio__arrow slider-portfolio__arrow-prev" data-sp-arrow-prev>
                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="3.4" y1="0.3" x2="0.4" y2="4.3" stroke="black" />
                            <line x1="0.4" y1="3.7" x2="3.4" y2="7.7" stroke="black" />
                        </svg>
                    </div>
                    <div class="slider-portfolio__arrow slider-portfolio__arrow-next" data-sp-arrow-next>
                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0.6" y1="7.7" x2="3.6" y2="3.7" stroke="black" />
                            <line x1="3.6" y1="4.3" x2="0.6" y2="0.3" stroke="black" />
                        </svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
