<div class="container-fluid">
    <img src="/images/spec-bg.png" alt="bg-img" class="specialization__bg-img">
    <span class="specialization__bg-shadow"></span>
    <div class="container">
        <div class="specialization">
            <div class="specialization__content">
                <h2 class="section-title specialization__title">
                    @@title
                </h2>
                <div class="specialization__text-wrap">
                    <p class="specialization__text">
                        99% веб сайтов требуют изменения контентной части без помощи программиста.
                    </p>
                    <p class="specialization__text">
                        Чтобы легко дать такую возможность, разработку базируем на системах управления контентом
                        - CMS.
                    </p>
                </div>
                <div class="specialization__imgs-wrap">
                    <img src="/images/wp-logo.svg" alt="wordpress" class="specialization__img">
                </div>
                <p class="specialization__desc">
                    Более трети всех сайтов в мире сделано на Worpress. 
                </p>
            </div>
        </div>
    </div>
</div>