<div class="container">
    <div class="tech-stack">
        <h2 class="section-title tech-stack__title">
            Стек технологий
        </h2>
        <ul class="tech-stack__list">
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime">
                <img src="/images/s-html.png" alt="html5" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">HTML 5</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime molestiae nam nesciunt, placeat quam voluptates">
                <img src="/images/s-css.png" alt="ccs3" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">CSS 3</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime">
                <img src="/images/s-react.png" alt="react" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">React</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime molestiae nam nesciunt, placeat quam voluptates">
                <img src="/images/s-webpack.png" alt="webpack" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">Webpack</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime">
                <img src="/images/s-jquery.png" alt="jQuery" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">jQuery</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime molestiae nam nesciunt, placeat quam voluptates">
                <img src="/images/s-bootstrap.png" alt="bootstrap4" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">Bootstrap4</h4>
            </li>
            
        </ul>

        <ul class="tech-stack__list">
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime">
                <img src="/images/s-ubuntu.png" alt="linux" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">Linux</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime molestiae nam nesciunt, placeat quam voluptates">
                <img src="/images/s-php.png" alt="php7" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">PHP 7.x</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime">
                <img src="/images/s-mysql.png" alt="my-sql" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">MySQL</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime molestiae nam nesciunt, placeat quam voluptates">
                <img src="/images/s-nodejs.png" alt="nodeJS" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">Node JS</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime">
                <img src="/images/s-wordpress.png" alt="wordpress" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">Wordpress</h4>
            </li>
            <li class="tech-stack__item" data-ts-tooltip data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur culpa eaque, earum enim facere facilis ipsam laboriosam maxime molestiae nam nesciunt, placeat quam voluptates">
                <img src="/images/s-bitrix.png" alt="bitrix" class="tech-stack__item-img">
                <h4 class="tech-stack__item-title">Bitrix</h4>
            </li>
        </ul>
        
    </div>
</div>