<div class="container">
    <div class="work-process">
        <div class="work-process__icon-slider">
            <div class="work-process__icon-slider--arrows">
                <div class="work-process__icon-slider--arrow work-process__icon-slider--arrow-prev" data-wp-arrow-prev>
                    <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="3.4" y1="0.3" x2="0.4" y2="4.3" stroke="black" />
                        <line x1="0.4" y1="3.7" x2="3.4" y2="7.7" stroke="black" />
                    </svg>
                </div>
                <div class="work-process__icon-slider--arrow work-process__icon-slider--arrow-next" data-wp-arrow-next>
                    <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0.6" y1="7.7" x2="3.6" y2="3.7" stroke="black" />
                        <line x1="3.6" y1="4.3" x2="0.6" y2="0.3" stroke="black" />
                    </svg>
                </div>
            </div>
            <div class="swiper-container work-process__icon-slider--carousel" data-wp-icon-slider>
                <div class="swiper-wrapper work-process__icon-slider--carousel-wrapper">
                    <div class="swiper-slide work-process__icon-slider--carousel-slide">
                        <img src="/images/wp-icon1.svg" alt="icon">
                        <h3>
                            Брифинг
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rem sit reprehenderit magnam
                            saepe ad accusamus ratione, non tempore nesciunt vero nostrum. Doloribus, obcaecati nihil!
                        </p>
                    </div>
                    <div class="swiper-slide work-process__icon-slider--carousel-slide">
                        <img src="/images/wp-icon1.svg" alt="icon">
                        <h3>
                            Reprehenderit magnam
                        </h3>
                        <p>
                            Nam molestie leo tortor, nec aliquam justo ultrices at. Nunc sed mattis dui, et lobortis
                            nisi. Phasellus aliquet, nibh eget sodales aliquet, lorem massa sollicitudin eros.
                        </p>
                    </div>
                    <div class="swiper-slide work-process__icon-slider--carousel-slide">
                        <img src="/images/wp-icon1.svg" alt="icon">
                        <h3>
                            Doloribus
                        </h3>
                        <p>
                            Praesent vehicula, ipsum id dignissim tristique, enim ipsum iaculis ligula, ac
                            posuere dui elit non lectus. Proin ultricies ipsum sodales lorem sodales, id sodales enim
                            pulvinar.
                        </p>
                    </div>
                    <div class="swiper-slide work-process__icon-slider--carousel-slide">
                        <img src="/images/wp-icon1.svg" alt="icon">
                        <h3>
                            Accusamus
                        </h3>
                        <p>
                            Maecenas rutrum augue non eleifend dignissim. Sed vel sem velit. Vivamus aliquam consectetur
                            porttitor. Curabitur pulvinar mattis tortor, sit amet varius sapien hendrerit non.
                        </p>
                    </div>
                    <div class="swiper-slide work-process__icon-slider--carousel-slide">
                        <img src="/images/wp-icon1.svg" alt="icon">
                        <h3>
                            Vero nostrum
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rem sit reprehenderit magnam
                            saepe ad accusamus ratione, non tempore nesciunt vero nostrum. Doloribus, obcaecati nihil!
                        </p>
                    </div>
                    <div class="swiper-slide work-process__icon-slider--carousel-slide">
                        <img src="/images/wp-icon1.svg" alt="icon">
                        <h3>
                            Sit amet
                        </h3>
                        <p>
                            Fusce nec justo vulputate, maximus nisi sit amet, varius lectus.
                            Praesent dapibus aliquam dolor ac congue. Duis eget nisl dolor.
                            Nullam tempor tortor eu scelerisque rutrum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="work-process__icon-slider--dots"></div>
        </div>

        <div class="work-process__text-side">
            <h1 class="section-title work-process__text-side--title">
                Как мы работаем
            </h1>
            <p class="work-process__text-side--desc">
                Curabitur lacus tellus, pellentesque nec consequat eget, accumsan et turpis. Sed iaculis porttitor
                mauris, et finibus sapien ultricies at. Ut in tristique elit.
            </p>
        </div>
    </div>
</div>