.mnt-clip {


    &__main-wrap {

    }

    &__bg-img {

    }

    &__shadow {

        clip-path: polygon(0 0, 45% 0, 55% 100%, 0 100%);
        @include mq(1023px) {
            clip-path: polygon(0 0, 50% 0, 65% 100%, 0 100%);
        }
        @include mq(960px) {
            clip-path: polygon(0 0, 60% 0, 75% 100%, 0 100%);
        }
        @include mq(768px) {
            clip-path: polygon(0 0, 70% 0, 85% 100%, 0 100%);
        }
        @include mq(639px) {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }     
    }

    &__content {
        width: 40%;

        max-width: 100%;

        @include mq(1199px) {
            width: 45%;
        }

        @include mq(1023px) {
            width: 55%;
        }

        @include mq(960px) {
            width: 60%;
        }

        @include mq(768px) {
            width: 70%;
        }
        @include mq(639px) {
            width: 100%;
        }

    }

    &__title {
        
    }

    &__text {
        font-size: 16px;
        line-height: 25px;

        @include mq(768px) {
            font-size: 15px;
        }
    }

    &__btn-call {
        margin-top: 30px;
        width: 246px;
        padding: 22px 0px;
        background: $third-color;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        border: none;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.4s;

        @include mq(768px) {
            padding: 18px 0px;
            width: 220px;
        }

        &:hover {
            @include tc-hover();
        }

    }
}