.sup-block {


    &__inner {

        &:last-of-type {
            width: calc(100% / 12 * 6 - 20px);
            align-self: flex-start;

            @include mq(768px) {
                margin-top: 20px;
                width: 100%;
            }
        }
    }

    &__img-wrap {
        margin: 0 auto;
        width: 70%;
    }
}