.imp-card {
    box-sizing: border-box;
    min-height: 120px;
    padding: 30px 89px 30px 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;

    &__icon-wrap {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-30px,-30px);
        min-width: 100px;
        min-height: 100px;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -19px;
            left: 0;
            display: block;
            height: 2px;
            width: 207px;
            background: $third-color;
        }
    }

    &__text {
        margin-top: 40px;
        font-size: 14px;
        line-height: 24px;
    }
}