@import "../mixins";

.blog {
  &-item {
    padding: 20px;
    background: #f3f3f3;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

    & + & {
      margin-top: 40px;

      @include mq(1023px) {
        margin-top: 30px;
      }
    }

    &__date {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__title {
      margin: 0;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      max-width: 100%;
      margin: 20px auto;

      img {
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
      }
    }

    &__read-more {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      margin-top: 25px;
      font-weight: 500;

      span {
        position: relative;

        &:before {
          content: 'Читать полностью';
          position: absolute;
          color: #4EB8F4;
          width: 0;
          transition: .3s;
          overflow: hidden;
          top: 0;
          left: 0;
          white-space: nowrap;
        }

        &:hover {
          transition: .3s;
          color: $third-color;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}