.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;

  &-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    @include mq(768px ,max) {
      justify-content: center;
    }

    &-container {
      background: #fff;
      border-bottom: 1px solid #EEE;
    }

    &__logo {
      display: flex;
      align-items: center;

      @include mq(960px ,max) {
        transform: scale(0.6);
      }

      @include mq(960px ,max) {
        transform: scale(0.7);
      }

    }

    &-contacts {
      display: flex;
      align-items: center;

      @include mq(768px ,max) {
        display: none;
      }

      &-phones {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        position: relative;

        svg {
          position: absolute;
          left: -50px;
          top: calc(50% - 20px);
          transform: scale(0.7);
        }

        &__item {
          font-weight: bold;
          font-size: 22px;
          line-height: 23px;
          text-align: center;
          color: #000;
          text-decoration: none;

          & + & {
            margin-top: 10px;

            &:before {
              content: '';
              display: block;
              width: 100%;
              height: 2px;
              background: $primary;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  &-menu {
    display: flex;
    justify-content: center;

    @include mq(768px ,max) {
      display: none;
    }

    &-item {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #EEEEEE;
      display: block;
      text-decoration: none;
      position: relative;
      padding: 23px;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 10px;
        left: 23px;
        width: 0;
        height: 2px;
        background: currentColor;
        transition: .3s;
        transition-delay: .15s;
      }

      &:not(&--got-child):hover:after {
        width: calc(100% - 46px);
        transition-delay: 0s;
      }

      &-sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        transition-delay: .3s;
        transition: .3s;
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden;

        &__item {
          padding: 10px 23px;
          background: #32323c;
          transition: .3s;
          
          &:hover {
            background: #50505b;
          }
        }
      }

      &--got-child:hover {
        .header-menu-item-sub-menu {
          transform: none;
          opacity: 1;
          visibility: visible;
          transition-delay: 0s;
        }
      }
    }
  }
}