.map-part {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    height: 505px;
    max-height: 100%;
    overflow: hidden;

    @include mq(967px ,max) {
        flex-direction: column;
        padding: 30px 0px;
    }

    &__content-side {
        width: 50%;

        @include mq(967px ,max) {
            width: 100%;
            padding-bottom: 20px;

        }

        &--main-wrap {
            
        }

        &--content-wrap {
            display: flex;
        }

        &--content-line {
            color: $primary;
            background: $primary;
            border: none;
            height: 2px;
            width: 311px;
            margin: 20px 0px;

            @include mq(340px ,max) {
                width: auto;
            }
        }
        
        &--content-text {
            margin-left: 15px;
            color: #ffffff;
            text-decoration: none;

            @include mq(767px ,max) {
                font-size: 16px;
            }
        }
    }

    &__map-side {
        position: absolute;
        right: 0;
        top: 0;
        background: lightgrey;
        width: 50%;
        height: 100%;

        @include mq(967px ,max) {
            position: static;
            // display: none;
            height: 500px;
            width: 100%;
        }
    }
}

[class*="ymaps-2-1"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    filter: grayscale(100%);
  }

  [class*="ymaps-2"][class*="-ground-pane"] { 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    /* Firefox 3.5+ */ 
    -webkit-filter: grayscale(100%); 
    /* Chrome 19+ & Safari 6+ */ 
    }