@import "./colors";

.btn {
  outline: none;
  display: inline;
  border: 2px solid;
  border-radius: 3px;
  padding: 18px 30px;
  cursor: pointer;
  transition: all .2s;
  font-size: 16px;

  &_primary {
    color: #000;
    font-weight: bold;
    border-color: $primary;
    background: transparent;
    transition: all 0.4s;
    text-transform: uppercase;

    &:hover {
      background: rgba(255, 152, 0, 0.18);
      box-shadow: 0 0 15px rgba(129, 129, 129, 0.397);
    }

    &-long {
      padding: 18px 20px;
      width: 520px;
      @include mq(768px) {
          width: 95%;
      }
    }
  }

  &_secondary {
    color: #FFF;
    background: #FF9800;
    border: 2px solid #FF9800;
    font-weight: bold;

    &:hover {
      background: transparent;
      color: #222;
    }
  }
}