<div class="container">
        <div class="context-block opt-block">
            <div class="context-block__inner opt-block__inner">
                <div class="context-block__img-wrap opt-block__img-wrap">
                    <img src="/images/context-img1.png" alt="context-pic" class="context-block__img opt-block__img">
                </div>
            </div>
            <div class="context-block__inner opt-block__inner">
                <h3 class="section-title context-block__title opt-block__title">
                    Поисковое продвижение сайтов
                </h3>
                <p class="context-block__text opt-block__text">
                    Один из самых одновременно сложных и крайне эффективных видов интернет-маркетинга - Search Engine
                    Optimization (SEO), выражаясь доступно, поисковая оптимизация, задача которой в достижении максимально
                    высокой позиции сайта
                    в поисковой выдаче, что прямо влияет на большее число целевых посетителей сайта.
                </p>
            </div>
        </div>
    </div>