<div class="container-fluid context-clip__main-wrap opt-clip__main-wrap">
    <img src="/images/context-clip-bg1.png" alt="bg-img" class="context-clip__bg-img opt-clip__bg-img">
    <span class="context-clip__shadow opt-clip__shadow"></span>
    <div class="container">
        <div class="context-clip opt-clip">
            <div class="context-clip__content opt-clip__content">
                <h3 class="section-title context-clip__title opt-clip__title">
                    Стоимость контекстной
                    рекламы
                </h3>
                <p class="context-clip__text opt-clip__text">
                    Контекст - высококонкурентный вид рекламы. Стоимость перехода по каждому объявлению меняется
                    ежечасно и не поддается точным расчетам. Однако спрогнозировать бюджет возможно с помощью встроенных
                    инструментов, например Яндекс Прогноз бюджета.
                </p>
                <p class="context-clip__text opt-clip__text">
                    Итоговая цена формируется из бюджета рекламной кампании и стоимости услуг специалистов по настройке
                    контекстной рекламы, которая составляет 10% бюджета на месяц, но не менее 2000 руб.
                </p>

                <div class="context-clip__brands-wrap">
                    <div class="context-clip__brand">
                        <img src="/images/yandex.svg" alt="yandex">
                        <h5>
                            Директ
                        </h5>
                    </div>
                    <div class="context-clip__brand">
                        <img src="/images/google.svg" alt="google">
                        <h5>
                            AdWords
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>