<div class="context-stages tabs-deadline">
    <ul class="context-stages__list tabs-deadline__list" data-deadlines>
        <li class="context-stages__item tabs-deadline__item">
            <a href="#tab-analysis" class="tabs-deadline__point">
                <span class="tabs-deadline__inside-dot"></span>
            </a>
            <h2 class="tabs-deadline__item-title">
                Анализ
            </h2>
        </li>
        <li class="context-stages__item tabs-deadline__item">
            <a href="#tab-project" class="tabs-deadline__point">
                <span class="tabs-deadline__inside-dot"></span>
            </a>
            <h2 class="tabs-deadline__item-title">
                Проект
            </h2>
        </li>
        <li class="context-stages__item tabs-deadline__item">
            <a href="#tab-launch" class="tabs-deadline__point">
                <span class="tabs-deadline__inside-dot"></span>
            </a>
            <h2 class="tabs-deadline__item-title">
                Запуск
            </h2>
        </li>
        <li class="context-stages__item tabs-deadline__item">
            <a href="#tab-enigma" class="tabs-deadline__point">
                <span class="tabs-deadline__inside-dot"></span>
            </a>
            <h2 class="tabs-deadline__item-title">
                Lorem
            </h2>
        </li>
        <li class="context-stages__item tabs-deadline__item">
            <a href="#tab-optmz" class="tabs-deadline__point">
                <span class="tabs-deadline__inside-dot"></span>
            </a>
            <h2 class="tabs-deadline__item-title">
                Оптимизация
            </h2>
        </li>
    </ul>

    <div class="context-stages__tab-wrap tabs-deadline__tab-wrap" data-deadline-screen>
        <div class="context-stages__tab tabs-deadline__tab" id="tab-analysis">
            <h3 class="tabs-deadline__tab-title">
                Первичный анализ
            </h3>
            <p class="tabs-deadline__tab-descr">
                Первичный анализ посадочных страниц. Формирование оффера и приоритетных направлений
            </p>
        </div>
        <div class="context-stages__tab tabs-deadline__tab" id="tab-project" style="display: none">
            <h3 class="tabs-deadline__tab-title">
                Проект
            </h3>
            <p class="tabs-deadline__tab-descr">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti voluptas molestiae quod repellat!
            </p>
        </div>
        <div class="context-stages__tab tabs-deadline__tab" id="tab-launch" style="display: none">
            <h3 class="tabs-deadline__tab-title">
                Запуск
            </h3>
            <p class="tabs-deadline__tab-descr">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti voluptas molestiae quod repellat!
            </p>
        </div>
        <div class="context-stages__tab tabs-deadline__tab" id="tab-enigma" style="display: none">
            <h3 class="tabs-deadline__tab-title">
                Lorem
            </h3>
            <p class="tabs-deadline__tab-descr">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti voluptas molestiae quod repellat!
            </p>
        </div>
        <div class="context-stages__tab tabs-deadline__tab" id="tab-optmz" style="display: none">
            <h3 class="tabs-deadline__tab-title">
                Оптимизация
            </h3>
            <p class="tabs-deadline__tab-descr">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti voluptas molestiae quod repellat!
            </p>
        </div>
    </div>
</div>