<div class="context-grid imp-grid">
        @@include('../sub-components/imp-card.html', {
            "src": "/images/context-grid1.svg",
            "title": "Настройка времени показа",
            "text": "Если ваш отдел продаж работает не 24/7, настроим показ объявлений только в рабочее время. Нет смысла платить за переходы, которые не сможете обработать"
        })
        @@include('../sub-components/imp-card.html', {
            "src": "/images/context-grid2.svg",
            "title": "Геотаргетинг",
            "text": "Можно показывать рекламу только на выбранные регионы/города, а можно и везде"
        })
        @@include('../sub-components/imp-card.html', {
            "src": "/images/context-grid3.svg",
            "title": "Оплата за переходы",
            "text": "Платите только за реальные визиты, а не за показы"
        })
        @@include('../sub-components/imp-card.html', {
            "src": "/images/context-grid4.svg",
            "title": "Прозрачно",
            "text": "Прогнозируемая стоимость конверсии лида в реального покупателя позволяет легко вычислить рентабельность кампании"
        })
    </div>