<div class="tech-stack">
    <ul class="tools__list tech-stack__list">
        @@include('../sub-components/tool.html', {
            "src": "/images/s-html.png",
            "title": "HTML 5"
        })
        @@include('../sub-components/tool.html', {
            "src": "/images/s-css.png",
            "title": "CSS 3"
        })
        @@include('../sub-components/tool.html', {
            "src": "/images/s-wordpress.png",
            "title": "Wordpress"
        })
        @@include('../sub-components/tool.html', {
            "src": "/images/s-jquery.png",
            "title": "jQuery"
        })
        @@include('../sub-components/tool.html', {
            "src": "/images/s-webpack.png",
            "title": "Webpack"
        })
        @@include('../sub-components/tool.html', {
            "src": "/images/s-php.png",
            "title": "PHP 7.x"
        })
    </ul>
</div>