<div class="imp-grid">
    @@include('../sub-components/imp-card.html', {
        "src": "/images/imp-grid1.svg",
        "title": "Продуманный дизайн",
        "text": "Самая важная составляющая будущего сайта. От того, насколько проработан пользовательский интерфейс, напрямую зависят продающие свойства"
    })
    @@include('../sub-components/imp-card.html', {
        "src": "/images/imp-grid2.svg",
        "title": "Чистый код",
        "text": "Грамотная архитектура - основа любого хорошего интернет проекта.  Сайт проще поддерживать и новый функционал реализуется без проблем"
    })
    @@include('../sub-components/imp-card.html', {
        "src": "/images/imp-grid3.svg",
        "title": "Качественная верстка",
        "text": "Загрузка страницы в течение 3-4 секунд. Корректное отображение и правильная работа на любом современном устройстве "
    })
    @@include('../sub-components/imp-card.html', {
        "src": "/images/imp-grid4.svg",
        "title": "Любой доп. функционал",
        "text": "Галереи изображений, индивидуальные калькуляторы, каталоги статей, счетчики акций и любые индивидуальные пожелания"
    })
</div>