<div class="container">
    <div class="mnt-points">
        <h3 class="section-title mnt-points__main-title">
            Полное сопровождение <br class="mnt-points__main-title--break"> интернет-ресурса
        </h3>
        <ul class="mnt-points__list">
            <li class="mnt-points__item">
                <img src="/images/mnt-point-img1.svg" alt="icon" class="mnt-points__icon">
                <h5 class="mnt-points__title">
                    Контентная поддержка 
                </h5>
            </li>
            <li class="mnt-points__item">
                <img src="/images/mnt-point-img2.svg" alt="icon" class="mnt-points__icon">
                <h5 class="mnt-points__title">
                    Обеспечение безопасности 
                </h5>
            </li>
            <li class="mnt-points__item">
                <img src="/images/mnt-point-img3.svg" alt="icon" class="mnt-points__icon">
                <h5 class="mnt-points__title">
                    Техническая поддержка 
                </h5>
            </li>
            <li class="mnt-points__item">
                <img src="/images/mnt-point-img4.svg" alt="icon" class="mnt-points__icon">
                <h5 class="mnt-points__title">
                    Рекомендации по развитию проекта 
                </h5>
            </li>
            <li class="mnt-points__item">
                <img src="/images/mnt-point-img5.svg" alt="icon" class="mnt-points__icon">
                <h5 class="mnt-points__title">
                    Аналитика поведения пользователя 
                </h5>
            </li>
        </ul>
    </div>
</div>