<div class="container-fluid mnt-clip__main-wrap opt-clip__main-wrap">
    <img src="/images/mnt-clip-bg1.png" alt="bg-img" class="mnt-clip__bg-img opt-clip__bg-img">
    <span class="mnt-clip__shadow opt-clip__shadow"></span>
    <div class="container">
        <div class="mnt-clip opt-clip">
            <div class="mnt-clip__content opt-clip__content">
                <h3 class="section-title mnt-clip__title opt-clip__title">
                    Наше предложение
                </h3>
                <p class="mnt-clip__text opt-clip__text">
                    Для максимально продуктивной работы сайта требуется постоянное обновление информации, постоянная
                    поддержка ресурса. Мы предлагаем широкий набор услуг: внедрение новых программных сервисов и
                    доработка существующих, контентная поддержка, мониторинг конкурентов, срочный редизайн и другие.
                    Свяжитесь с нами прямо сейчас чтобы обсудить возможность сотрудничества!
                </p>
                <button class="mnt-clip__btn-call" data-popup-form-toggle>
                    Связаться
                </button>
            </div>
        </div>
    </div>
</div>