<div class="container">
    <div class="mnt-block opt-block">
        <div class="mnt-block__inner opt-block__inner">
            <div class="mnt-block__img-wrap opt-block__img-wrap">
                <img src="/images/mnt-img2.png" alt="pic" class="mnt-block__img opt-block__img">
            </div>
        </div>
        <div class="mnt-block__inner opt-block__inner">
            <h3 class="section-title mnt-block__title opt-block__title">
                Сопровождение сайта
            </h3>
            <p class="mnt-block__text opt-block__text">
                После разработки сайта вам наверняка потребуется сотрудник, который будет поддерживать ресурс в
                актуальном состоянии: размещать рекламные баннеры, обновлять данные и проверять поведение аудитории.
                Можно нанять системного администратора для выполнения этой работы, но есть вариант и выгоднее.
            </p>
            <p class="mnt-block__text opt-block__text">
                Мы предлагаем обслуживание вашего проекта на условиях аутсорсинга. Вам не нужно платить фиксированную
                заработную плату, оплачивается только результат, а также вы получаете гарантию качественной работы от
                людей которые участвовали в создании ресурса.
            </p>
        </div>
    </div>
</div>