<div class="container">
    <div class="opt-block">
        <div class="opt-block__inner">
            <div class="opt-block__img-wrap">
                <img src="/images/opt-img1.svg" alt="seo-pic" class="opt-block__img">
            </div>
        </div>
        <div class="opt-block__inner">
            <h3 class="section-title opt-block__title">
                Поисковое продвижение сайтов
            </h3>
            <p class="opt-block__text">
                Один из самых одновременно сложных и крайне эффективных видов интернет-маркетинга - Search Engine
                Optimization (SEO), выражаясь доступно, поисковая оптимизация, задача которой в достижении максимально
                высокой позиции сайта
                в поисковой выдаче, что прямо влияет на большее число целевых посетителей сайта.
            </p>
            <p class="opt-block__text">
                В настоящий момент большинство методов интернет-маркетологии легко обходятся алгоритмами самых
                продвинутых поисковиков, таких как Яндекс и Google. Они не просто сканируют текст с сайтов,
                происходит распознавание самых полезных и эффективных ресурсов.
                Именно поэтому SEO является настолько продуктивным методом оптимизации,
                он направлен на качественное улучшение сайта.
            </p>
        </div>
    </div>
</div>