<div class="container-fluid opt-clip__main-wrap">
    <img src="/images/opt-clip-bg1.png" alt="bg-img" class="opt-clip__bg-img">
    <span class="opt-clip__shadow"></span>
    <div class="container">
        <div class="opt-clip">
            <div class="opt-clip__content">
                <h3 class="section-title opt-clip__title">
                    Почему это работает?
                </h3>
                <p class="opt-clip__text">
                    Обычное дело: вы собираетесь что-то найти в интернете, вы открываете поисковик. На выбор
                    предоставляется
                    неограниченное количество ресурсов, но опыт подсказывает что в первых десяти вы найдете всё что вам
                    требуется. Современный пользователь не будет усложнять себе процесс поиска. Целью SEO оптимизации
                    является именно попасть в первые ряды.
                </p>
            </div>
        </div>
    </div>
</div>