<div class="container">
    <div class="opt-block rev-opt-block">
        <div class="opt-block__inner rev-opt-block__inner">
            <div class="opt-block__img-wrap rev-opt-block__img-wrap">
                <img src="/images/opt-img2.svg" alt="pic" class="opt-block__img rev-opt-block__img">
            </div>
        </div>
        <div class="opt-block__inner rev-opt-block__inner">
            <h3 class="section-title opt-block__title rev-opt-block__title">
                Комплексный подход к оптимизации
            </h3>
            <p class="opt-block__text rev-opt-block__text">
                Ввиду того, что поисковые платформы отдают предпочтения самым качественным сайтам, следует максимально
                эффективно будет провести комплексное продвижение сайта, сочетающее в себе как внутреннюю качественную
                работу над сайтом, так и SEO, контекстную рекламу.
            </p>
            <p class="opt-block__text rev-opt-block__text">
                Все элементы будут работать максимально слаженно, что
                приведет к незамедлительным желаемым результатам!
            </p>
        </div>
    </div>
</div>