<div class="container">
    <div class="opt-block rev-mnt-block">
        <div class="opt-block__inner rev-mnt-block__inner">
            <div class="opt-block__img-wrap rev-mnt-block__img-wrap">
                <img src="/images/mnt-img2.svg" alt="pic" class="opt-block__img rev-mnt-block__img">
            </div>
        </div>
        <div class="opt-block__inner rev-mnt-block__inner">
            <h3 class="section-title opt-block__title rev-mnt-block__title">
                Мониторинг сайта
            </h3>
            <p class="opt-block__text rev-mnt-block__text">
                Регулярно анализируем сайт на посещаемость и положение в выдаче поисковых систем по ключевым запросам.
                Корректируем семантическое ядро в случае необходимости.
                Отслеживаем и анализируем интернет-ресурсы ключевых конкурентов.
            </p>
        </div>
    </div>
</div>