<div class="container">
    <div class="sup-block opt-block">
        <div class="sup-block__inner opt-block__inner">
            <div class="sup-block__img-wrap opt-block__img-wrap">
                <img src="/images/sup-img2.png" alt="sup-pic" class="sup-block__img opt-block__img">
            </div>
        </div>
        <div class="sup-block__inner opt-block__inner">
            <h3 class="section-title sup-block__title opt-block__title">
                Техническая поддержка вашего сайта
            </h3>
            <p class="sup-block__text opt-block__text">
                Техническая поддержка сайтов в Тюменском интернет агентстве Cyberful включает в себя любые работы по
                программированию, верстке, доработке существующих и разработке дополнительных модулей.
            </p>
        </div>
    </div>
</div>