<div class="tech-stack">
        <ul class="tools__list tech-stack__list">
            @@include('../sub-components/tool.html', {
                "src": "/images/tool-img1.svg",
                "title": "Аналитика Яндекс"
            })
            @@include('../sub-components/tool.html', {
                "src": "/images/tool-img2.svg",
                "title": "Коллтрекинг"
            })
            @@include('../sub-components/tool.html', {
                "src": "/images/tool-img3.svg",
                "title": "Сквозная аналитика"
            })
            @@include('../sub-components/tool.html', {
                "src": "/images/tool-img4.svg",
                "title": "Подбор ключей"
            })
            @@include('../sub-components/tool.html', {
                "src": "/images/tool-img5.svg",
                "title": "Аналитика Google"
            })
            @@include('../sub-components/tool.html', {
                "src": "/images/tool-img6.svg",
                "title": "Подбор ключей"
            })
        </ul>
    </div>